/* COLORS */

:root {
  --link-color: #138484;
  --link-color-active: #0b6666;

  --text-default: #333333;
  --text-secondary: #595959;
  --text-info: #1346e1;
  --text-success: #008554;
  --text-danger:  #fa503f;
  
  --cta-primary: #fa503f;
  --cta-secundary: #d30b3f;

  --classification-generic: #f9ad3d;
  --classification-beauty: #ff4d8d;
  --classification-new: #bfd72f;
  --classification-interchangeable: #7b0bdd;
  --classification-radiofarmac: #18a532;
  --classification-biologic: #00aae5;
  --classification-other: #666666;
  --classification-similar: #d6003a;
  --classification-reference: #009999;
  --classification-specific: #2949e5;
}
